@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i')
	;

body {
	font-family: 'Open Sans';
}

.container.content {
	min-height: 500px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.container-fluid.navbar.background-color {
	background-color: #3F729B;
}

.navbar .navbar-expand-lg .navbar-dark .primary-color {
	background-color: #3F729B;
}

.invalid-feedback-backend {
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #dc3545;
}

.formulario {
	color: #555;
}

.formulario h2 {
	color: steelblue;
	padding-top: 0.5em;
}

.formulario th {
	font-weight: 500;
}

.formulario td.action a i {
	color: steelblue;
	padding: 5px;
}

.formulario td.action a i.fas.fa-trash-alt {
	color: red;
}

.formulario td.action a i.fas.fa-edit {
	color: green;
}

.btn-card {
	margin: 5px;
}

footer.page-footer.font-small.unique-color-dark.pt-0 {
	background-color: #1C2331;
	color: #cecece;
}

.top-footer {
	background-color: #3F729B
}
<!--
unique-color


:

 

#3F729B


  

unique-color-dark


:

 

#1C2331




#007bff


 


-->
