<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Formulario de alta/modificaci&oacute;n de clientes</title>
</head>
<body>
	<h1>Clientes</h1>
	<hr><br>
	<form action="#" th:action="@{/clientes/guardar}" th:object="${cliente}" method="POST">
		<input type="hidden" th:field="*{id}"/>
		<p>Nombre: <input type="text" th:field="*{nombre}"/></p>
		<p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
		<p>Apellido: <input type="text" th:field="*{apellido}"/></p>
		<p th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></p>
		<p>Tipo de documento: <input type="text" th:field="*{tipoDocumento}"/></p>
		<p th:if="${#fields.hasErrors('tipoDocumento')}" th:errors="*{tipoDocumento}"></p>
		<p>Numero de documento: <input type="text" th:field="*{numeroDocumento}"/></p>
		<p th:if="${#fields.hasErrors('numeroDocumento')}" th:errors="*{numeroDocumento}"></p>
		<br>
		<p><input type="submit" value="Guardar cliente"/></p>
	</form>
</body>
</html>