<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>App Servicios</title>
</head>
<body>
	<h1>App Servicios</h1>
	<br><br><hr><br>
	
	<!-- . -->
	<h2>Clientes</h2>
	<ul>
		<li><a th:href="@{/clients/list}">Ver clientes</a></li>
		<li><a th:href="@{/clients/form}">Agregar cliente</a></li>
	</ul>
	
	<br><br><hr><br>

	<h2>Profesionales</h2>
	<ul>
	<li><a th:href="@{/professionals/list}">Ver profesionales</a></li>
	<li><a th:href="@{/professionals/form}">Agregar profesional</a></li>
	</ul>
	<br><br><hr><br>

</body>
</html>