<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link href="/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<link href="/css/appservices.css" rel="stylesheet">
<title>App Servicios</title>

<script src="/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container content">
		<!-- Card deck -->
		<div class="card-deck">

			<!-- Card -->
			<div class="card mb-4">

				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top"
						src="https://mdbootstrap.com/img/Photos/Others/images/51.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Clientes</h4>
					<!--Text-->
					<p class="card-text">Administraci&oacute;n de clientes.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<a th:href="@{/client/list}">
						<button type="button" class="btn btn-light-blue btn-md btn-card">Ver Clientes</button>
					</a>
					<a th:href="@{/client/form}">
						<button type="button" class="btn btn-light-blue btn-md btn-card">Agregar Cliente</button>
					</a>

				</div>

			</div>
			<!-- Card -->

			<!-- Card -->
			<div class="card mb-4">

				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top"
						src="https://mdbootstrap.com/img/Photos/Others/images/3.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Profesionales</h4>
					<!--Text-->
					<p class="card-text">Admnistraci&oacute;n de profesionales.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<a th:href="@{/professional/list}">
            <button type="button" class="btn btn-light-blue btn-md btn-card">Ver Profesionales</button>
          </a>
          <a th:href="@{/professional/form}">
            <button type="button" class="btn btn-light-blue btn-md btn-card">Agregar Profesional</button>
          </a>

				</div>

			</div>
			<!-- Card -->

			<!-- Card -->
			<div class="card mb-4">

				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top"
						src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">WIP</h4>
					<!--Text-->
					<p class="card-text">Work in progress</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->

		</div>
		<!-- Card deck -->


	</div>
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>