<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listado de clientes</title>
</head>
<body>
	<h1>Clientes</h1>
	<br><br><hr><br>
	<table border="1">
		<tr>
			<th>Acciones</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Documento</th>
		</tr>
		<tr th:each="cliente:${clientes}">
			<td><a th:href="@{/clientes/baja(id=${cliente.id})}"
					onclick="if (!(confirm('Est&aacute; seguro de que desea eliminar el cliente?'))) return false">
				Eliminar</a> | <a th:href="@{/clientes/formulario(id=${cliente.id})}">Editar</a></td>
			<td><span th:text="${cliente.nombre}"></span></td>
			<td><span th:text="${cliente.apellido}"></span></td>
			<td><span th:text="${cliente.tipoDocumento}"></span> <span th:text="${cliente.numeroDocumento}"></span></td>
		</tr>
	</table>
	<br><br><hr><br>
	<a th:href="@{/clientes/formulario}">Crear cliente</a>
</body>
</html>