<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link href="/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<link href="/css/appservices.css" rel="stylesheet">
<title>Listado de clientes</title>

<script src="/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container content">
		<div th:if="${successMessage!=null}" class="alert alert-success" th:text="${successMessage}"></div>
		<div class="formulario">
			<div class="row">
				<div class="col-sm-8">
					<h2 class="formulario">
						<i class="fas fa-users"></i> Clientes
					</h2>
					<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Acciones</th>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">Documento</th>
								<th scope="col">Dirección</th>
								<th scope="col">Teléfono</th>
								<th scope="col">E-mail</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="client:${clients}">
								<th scope="row"><span th:text="${client.id}"></span></th>
								<td class="action">
								  <a th:href="@{/clients/remove(id=${client.id})}"
									onclick="if (!(confirm('Está seguro de que desea eliminar el cliente?'))) return false">
									<i class="fas fa-trash-alt" title="eliminar"></i></a>
									<a th:href="@{/clients/form(id=${client.id})}">
									<i class="fas fa-edit" title="editar"></i></a>
									</td>
								<td><span th:text="${client.name}"></span></td>
								<td><span th:text="${client.surname}"></span></td>
								<td><span th:text="${client.identityType}"></span>: <span
									th:text="${client.identityNumber}"></span></td>
								<td><span th:text="${client.address}"></span></td>
								<td><span th:text="${client.phoneNumber}"></span></td>
								<td><span th:text="${client.email}"></span></td>											
							</tr>
						</tbody>
					</table>
					<a class="btn btn-primary" role="button" th:href="@{/clients/form}">
						<i class="fas fa-user-plus"></i> Nuevo cliente
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>